In [1]:
l=[1,234,"deva",True,2+3j,9999]

In [2]:
type(l)

list

In [3]:
l[0]

1

In [4]:
l[4]

(2+3j)

In [5]:
l[0:4]

[1, 234, 'deva', True]

In [6]:
l[-1]

9999

In [7]:
l[-1:-3]

[]

In [8]:
l[-3:-1]

[True, (2+3j)]

In [9]:
l[::-1] #Reverse

[9999, (2+3j), True, 'deva', 234, 1]

In [10]:
#Numbers at even indexes : Slicing
l[::2]

[1, 'deva', (2+3j)]

In [11]:
l

[1, 234, 'deva', True, (2+3j), 9999]

In [12]:
s = "DEVASHISH"

In [13]:
#l+s : Concatenate

In [14]:
list(s)+l

['D',
 'E',
 'V',
 'A',
 'S',
 'H',
 'I',
 'S',
 'H',
 1,
 234,
 'deva',
 True,
 (2+3j),
 9999]

In [15]:
#Append and Extend
l[2] #Prints only DEVA but I want only DE : SLicing operation of a string
l[2][0:2]

'de'

In [16]:
#type(l[3][0:2])

In [17]:
str(l[3])[0:2]

'Tr'

In [18]:
l

[1, 234, 'deva', True, (2+3j), 9999]

In [19]:
#l+5  can only concatenate list (not "int") to list

In [20]:
l1=[2,3,4]

In [21]:
l+l1

[1, 234, 'deva', True, (2+3j), 9999, 2, 3, 4]

In [22]:
l1*3

[2, 3, 4, 2, 3, 4, 2, 3, 4]

In [23]:
l

[1, 234, 'deva', True, (2+3j), 9999]

In [24]:
#Number of elements of list
len(l)

6

In [25]:
l

[1, 234, 'deva', True, (2+3j), 9999]

In [26]:
l.append(5)
l

[1, 234, 'deva', True, (2+3j), 9999, 5]

In [27]:
len(l)

7

In [28]:
l.append(s)

In [29]:
l

[1, 234, 'deva', True, (2+3j), 9999, 5, 'DEVASHISH']

In [30]:
l

[1, 234, 'deva', True, (2+3j), 9999, 5, 'DEVASHISH']

In [31]:
l1

[2, 3, 4]

In [32]:
l.append(l1) #->Nested List

In [33]:
l

[1, 234, 'deva', True, (2+3j), 9999, 5, 'DEVASHISH', [2, 3, 4]]

In [34]:
l[-1]

[2, 3, 4]

In [35]:
l[-1][1]

3

In [36]:
l.extend("DEVA") #The data should be iterable -> not integer

In [37]:
l

[1,
 234,
 'deva',
 True,
 (2+3j),
 9999,
 5,
 'DEVASHISH',
 [2, 3, 4],
 'D',
 'E',
 'V',
 'A']

In [38]:
l.extend([3,4,5]) #Enters the data not together but after breaking it
l

[1,
 234,
 'deva',
 True,
 (2+3j),
 9999,
 5,
 'DEVASHISH',
 [2, 3, 4],
 'D',
 'E',
 'V',
 'A',
 3,
 4,
 5]

In [39]:
l1

[2, 3, 4]

Add data but not at last position

In [40]:
l1.insert(1,"DEVASHISH")

In [41]:
l1

[2, 'DEVASHISH', 3, 4]

In [42]:
l1.insert(1,[2,3,4])

In [43]:
l1

[2, [2, 3, 4], 'DEVASHISH', 3, 4]

In [44]:
l1.insert(-1,45)

In [45]:
l1

[2, [2, 3, 4], 'DEVASHISH', 3, 45, 4]

DATA DELETE

In [46]:
l1.pop()

4

In [47]:
l1.pop()

45

In [48]:
l1

[2, [2, 3, 4], 'DEVASHISH', 3]

In [49]:
l1.pop(3)

3

In [50]:
l1

[2, [2, 3, 4], 'DEVASHISH']

In [51]:
l1.remove(2)

In [52]:
l1

[[2, 3, 4], 'DEVASHISH']

In [53]:
l1.remove("DEVASHISH")

In [54]:
l1

[[2, 3, 4]]

In [55]:

#Remove from nested list :  l1.remove([3])->ERROR

In [56]:
l1

[[2, 3, 4]]

In [57]:
l1.insert(0,1)

In [58]:
l1.insert(1,2)

In [59]:
l1.insert(2,"DEVAShish")

In [60]:
l1

[1, 2, 'DEVAShish', [2, 3, 4]]

In [61]:
l1[3].remove(3)

In [62]:
l1

[1, 2, 'DEVAShish', [2, 4]]

In [63]:
#l1[2].remove("DE") ->immutable object

In [64]:
l1

[1, 2, 'DEVAShish', [2, 4]]

In [65]:
l1.append(1)

In [66]:
l1

[1, 2, 'DEVAShish', [2, 4], 1]

In [67]:
l1.remove(1)

In [68]:
l1

[2, 'DEVAShish', [2, 4], 1]

In [69]:
l1[::-1]

[1, [2, 4], 'DEVAShish', 2]

In [70]:
l1[::-1] #TEMPORARY REVERSE

[1, [2, 4], 'DEVAShish', 2]

In [71]:
l1.reverse() #PERMANENT REVERSE

In [72]:
l1=l1[::-1] #Same as permanent reverse

In [73]:
l1

[2, 'DEVAShish', [2, 4], 1]

In [74]:
l2=[2,3,6,1,2,4,9,3]

In [75]:
l2.sort()

In [76]:
l2

[1, 2, 2, 3, 3, 4, 6, 9]

In [77]:
l3=["Devashish",1,4,99,43]

In [78]:
l4=['aaaaaaaaaaa','ddddddddddddddd','bbbbbbbbbbb','ccccccccccccc']

In [79]:
l4.sort()

In [80]:
l4

['aaaaaaaaaaa', 'bbbbbbbbbbb', 'ccccccccccccc', 'ddddddddddddddd']

DESCENDING ORDER

In [81]:
l4.sort(reverse=True)

In [82]:
l4

['ddddddddddddddd', 'ccccccccccccc', 'bbbbbbbbbbb', 'aaaaaaaaaaa']

In [83]:
l4.index("ddddddddddddddd")

0

In [84]:
l4.count("d")

0

In [85]:
s='DEVA'

In [86]:
l5=[3,4,5,6]

In [87]:
s[0]

'D'

In [88]:
l5[0]=30

In [89]:
l5

[30, 4, 5, 6]

In [90]:
s.replace('D','A')

'AEVA'

In [91]:
s

'DEVA'

TUPLES

In [92]:
t=(2,3,4,5,"deva",45.6,False,[3,4,5])

In [93]:
type(t)

tuple

In [94]:
len(t)

8

In [95]:
t[0]

2

In [96]:
t[4]

'deva'

In [97]:
t[4][2]

'v'

In [98]:
l4

['ddddddddddddddd', 'ccccccccccccc', 'bbbbbbbbbbb', 'aaaaaaaaaaa']

In [99]:
l4[0]=1234

In [100]:
l4

[1234, 'ccccccccccccc', 'bbbbbbbbbbb', 'aaaaaaaaaaa']

In [101]:
t

(2, 3, 4, 5, 'deva', 45.6, False, [3, 4, 5])

In [102]:
#t[0]=43 -> ERROR -> IMMUTABLE

In [103]:
t[::-1]

([3, 4, 5], False, 45.6, 'deva', 5, 4, 3, 2)

In [104]:
t

(2, 3, 4, 5, 'deva', 45.6, False, [3, 4, 5])

In [105]:
t.count

In [106]:
t.count(1)

0

In [107]:
t.count(2)

1

In [108]:
t.index(False)

6

SETS

In [109]:
s1={}

In [110]:
type(s1) #Blank set is regarded as dictonary

dict

In [111]:
s2={2,3,4,5,6}

In [112]:
type(s2)

set

In [113]:
s3={123,45354,"deva",34.5,(3,4,5)}

In [114]:
s3

{(3, 4, 5), 123, 34.5, 45354, 'deva'}

In [115]:
s4={2,3,4,5,6,7,2,3,4,3,1,2,3,9,'deva','deva','Deva'}

Set removes all the duplicates and shows only unique data

In [116]:
s4

{1, 2, 3, 4, 5, 6, 7, 9, 'Deva', 'deva'}

In [117]:
l6=[2,3,4,5,6,7,2,3,4,3,1,2,3,9,'deva','deva','Deva']

In [118]:
l6=list(set(l6))

In [119]:
l6 #Never arrange the data in ascendeing order

[1, 2, 3, 4, 5, 6, 7, 'deva', 9, 'Deva']

In [120]:
s4.add(4)

In [121]:
s4

{1, 2, 3, 4, 5, 6, 7, 9, 'Deva', 'deva'}

In [122]:
s4.add(40)

In [123]:
s4

{1, 2, 3, 4, 40, 5, 6, 7, 9, 'Deva', 'deva'}

In [124]:
s4.remove(40)

In [125]:
s4.discard(40)

In [126]:
s4

{1, 2, 3, 4, 5, 6, 7, 9, 'Deva', 'deva'}