In [3]:
print ("Hello World")

Hello World

FUNCTIONS :

In [4]:
def test() :
    pass

In [5]:
def test1():
    print("This is my very very first funciton ")

In [6]:
test1()

This is my very very first funciton

In [7]:
test1() #+ "deva" ->returns none type

This is my very very first funciton

In [8]:
def test2():
    return "This is my very first return "

In [9]:
test2()

'This is my very first return '

In [10]:
test2() + "deva"

'This is my very first return deva'

In [11]:
def test3():
    return "DEVA",123,432,[2,3,1]

In [12]:
test3()

('DEVA', 123, 432, [2, 3, 1])

In [13]:
a,b,c,d=test3()

In [14]:
a

'DEVA'

In [15]:
b

123

In [16]:
c

432

In [17]:
d

[2, 3, 1]

In [18]:
def test4():
    a=5+6/7
    return a

In [19]:
test4()

5.857142857142857

In [20]:
def test5(a,b,c):
    d=a+b/c
    return d

In [21]:
test5(1,2,4)

1.5

In [22]:
def test6(a,b):
    return a+b

In [23]:
test6(1,2)

3

In [24]:
test6("deva","shish")

'devashish'

In [25]:
test6([1,2,3,4,5],[5,6,7,8,9])

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [26]:
l=[1,2,3,4,"deva","shish",[1,2,3,4]]

In [27]:
def test7(l):
    l1=[]
    for i in l :
        if type(i)==int or type(i)==float :
            l1.append(i)
    return l1

In [28]:
test7(l)

[1, 2, 3, 4]

In [29]:
def test8(a):
    l=[]
    for i in a:
        if type(i)==list :
            for j in i:
                l.append(j)
        else:
            if type(i)==int or type(i)==float :
                l.append(i)
    return l

In [30]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4]

In [31]:
"""This is my funciton to extract num from data from list """ 
def test9(a):
    l=[]
    for i in a:
        if type(i)==list :
            for j in i:
                l.append(j)
        else:
            if type(i)==int or type(i)==float :
                l.append(i)
    return l

In [32]:
test9(l)

[1, 2, 3, 4, 1, 2, 3, 4]

In [33]:

def test10(a,b): #Dynamic parameter/args
    return a+b

In [34]:
def test11(*args):
    return args

In [35]:
type(test11())

tuple

In [36]:
test11(1,2,3,4)

(1, 2, 3, 4)

In [37]:
test11(1,2,3,4,"DEVA",2+4j) #Keeps data in the form of tuples

(1, 2, 3, 4, 'DEVA', (2+4j))

In [38]:
def test12(*deva):
    return deva

In [39]:
def test13(*args , a):
    return args , a

In [40]:
test13(1,2,3,4 , a=23)

((1, 2, 3, 4), 23)

In [41]:
def test14(c,d,a=33,b=1):
    return a,b,c,d

In [42]:
test14(3,4)

(33, 1, 3, 4)

In [43]:
test14(2,3,a=3232)

(3232, 1, 2, 3)

In [44]:
def test15(**kwargs): #n-number of data in dictonary format
    return kwargs

In [45]:
test15()

{}

In [46]:
type(test15())

dict

In [47]:
test15(a=[1,2,3],b="deva",c=23.43)

{'a': [1, 2, 3], 'b': 'deva', 'c': 23.43}